.app {
    max-width: 500px;
}

.header {
    margin-bottom: 6px;
}

.logo {
    display: block;
    width: 90px;
}

.clock,
.lot {
    margin-bottom: 6px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.clock .value {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.clock .icon {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border-radius: 15px;
}

.clock .icon.day {
    background-color: #ef7b00;
}

.clock .icon.night {
    background-color: #2459a7;
}

.lot {
    position: relative;
}

.price {
    position: absolute;
    right: 14px;
    top: 14px;
    font-weight: bold;
}

.lot h1 {
    margin-top: 0;
}

